<nav class="page-breadcrumb">
    <div class="d-flex justify-content-between">
        <div>
            <div class="d-flex justify-content-start ">
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search.." [(ngModel)]="query"
                                (keyup)="getPage(1)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Store</li>
            </ol>
        </div>


    </div>
</nav>


<div class="card">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Store</span>
            <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span> -->
        </h3>
        <div class="card-toolbar">
            <button class="btn btn-primary btn-sm" (click)="open({
                name: '',
                number: '',
                address: '',
                city: '',
                pincode: '',
                county: ''
              })">Crate Store</button>
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
            <!-- begin::Table -->
            <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                <!-- begin::Table head -->
                <thead>
                    <tr class="fw-bolder text-muted">
                        <th class="min-w-150px">Store Name</th>
                        <th class="min-w-140px">Store Number</th>
                        <th class="min-w-120px">County</th>
                        <th class="min-w-120px">City</th>
                        <th class="min-w-120px">Address</th>
                        <th class="min-w-120px">Pincode</th>
                        <!-- <th class="min-w-120px">Status</th> -->
                        <th class="min-w-100px text-end">Actions</th>
                    </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody>
                    <tr
                        *ngFor="let store of stores | paginate: { id: 'server', itemsPerPage: limit, currentPage: page, totalItems: total } ;let i=index;">
                        <td>
                            <span class="text-dark fw-bolder text-hover-primary fs-6">
                                {{store.name}}
                            </span>
                        </td>
                        <td>
                            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                {{store.number}}
                            </span>
                            <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Code: PH</span> -->
                        </td>
                        <td>
                            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                {{getCounty(store)}}
                            </span>
                            <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Code: Paid</span> -->
                        </td>
                        <td>
                            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                {{getCity(store)}}
                            </span>
                            <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Code: Paid</span> -->
                        </td>
                        <td>
                            <span class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                {{store.address}}
                            </span>
                            <!-- <span class="text-muted fw-bold text-muted d-block fs-7">
                                Web, UI/UX Design
                            </span> -->
                        </td>
                        <td class="text-dark fw-bolder text-hover-primary fs-6">{{getPincode(store) }}</td>
                        <!-- <td>
                            <span class="badge badge-light-success">Approved</span>
                        </td> -->
                        <td class="text-end">
                            <button (click)="open(store)" class="btn btn-icon btn-light-primary btn-sm me-1">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                                    class="svg-icon svg-icon-3"></span>
                            </button>
                            <button (click)="delete(store._id ? store._id : '')"
                                class="btn btn-icon btn-light-danger btn-sm">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                                    class="svg-icon svg-danger svg-icon-3"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!-- end::Table body -->
            </table>
            <!-- end::Table -->
        </div>
        <!-- end::Table container -->
    </div>
    <!-- begin::Body -->

    <div class="d-flex flex-wrap justify-content-end p-2">
        <ngb-pagination class="d-flex justify-content-start" [collectionSize]="totalPageSize" [(page)]="page"
            (pageChange)="getPage($event)"></ngb-pagination>
    </div>
</div>