<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close btn-danger text-white" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form method="post" [formGroup]="angForm" novalidate (submit)="submitForm()">
    <div class="modal-body">
        <!-- <p>Hello, {{ name }}!</p> -->
        <div class="row">

            
            <div class="col-md-12 mb-3 form-group">
                <label for="category" class="col-form-label lable-right">
                     Category
                </label>
                <div>
                    <!-- <input type="text"  class="form-control" name="mainCategory" formControlName="mainCategory"> -->
                    <select class="form-control" id="category" name="category" formControlName="category" (change)="getSubcategory()" >
                        <option value="">Select Category</option>
                        <option *ngFor="let category of categories"    value="{{category._id}}" selected>{{category.category}}</option>
                    </select>
                    <div *ngIf="isFormSubmitted && form.category.errors?.required" class="invalid-feedback">
                        Category is required.
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    SubCategory
                </label>
                <div>
                    <!-- <input type="text"  class="form-control" name="mainCategory" formControlName="mainCategory"> -->
                    <select class="form-control" id="" name="subCategory" formControlName="subCategory" >
                        <option value="">Select Category</option>
                        <option *ngFor="let subcategory of subcategories" value="{{subcategory._id}}" selected>{{subcategory.category}}</option>
                    </select>
                    <div *ngIf="isFormSubmitted && form.subCategory.errors?.required" class="invalid-feedback">
                        detail is required.
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Detail
                </label>
                <div>
                    <input type="text" class="form-control" name="detail" formControlName="detail"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.detail.errors}" id="detail">
                    <div *ngIf="isFormSubmitted && form.detail.errors?.required" class="invalid-feedback">
                        detail is required.
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Date
                </label>
                <div>
                    <input type="date" value="angForm.value.taskDate" class="form-control" name="taskDate" formControlName="taskDate"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.taskDate.errors}" id="taskDate">
                    <div *ngIf="isFormSubmitted && form.taskDate.errors?.required" class="invalid-feedback">
                        Date is required.
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3 form-group">
                <label for="taskTime" class="col-form-label lable-right">
                    Time
                </label>
                <div>
                    <input type="time" value="angForm.value.taskDate" class="form-control" name="taskTime" formControlName="taskTime"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.taskTime.errors}" id="taskTime">
                    <div *ngIf="isFormSubmitted && form.taskTime.errors?.required" class="invalid-feedback">
                        Time is required.
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Priority
                </label>
                <div>
                    <!-- <input type="text"  class="form-control" name="mainCategory" formControlName="mainCategory"> -->
                    <select class="form-control" id="" name="priority" formControlName="priority" >
                        <option value="">--Select priority--</option>
                        <option value="low">Low</option>
                        <option value="moderate">Moderate</option>
                        <option value="high">High</option>
                    </select>
                    <div *ngIf="isFormSubmitted && form.priority.errors?.required" class="invalid-feedback">
                        Priority is required.
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Employee
                </label>
                <div>
                    <select class="form-control" name="employee" formControlName="employee">
                        <option value="">Select Employee</option>
                        <option *ngFor="let user of users"   value="{{user._id}}">{{user.firstName}} {{user.middleName}} {{user.lastName}}</option>
                    </select>
                    <div *ngIf="isFormSubmitted && form.employee.errors?.required" class="invalid-feedback">
                        detail is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Image 1
                </label>
                <div>
                    <input type="file" class="form-control"  accept="image/png, image/jpeg" name="image1" formControlName="image1"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.image1.errors}" id="image1" (change)="onFileSelected($event, 'image1')">
                    <div *ngIf="isFormSubmitted && form.image1.errors?.required" class="invalid-feedback">
                        Image 1 is required.
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Image2
                </label>
                <div>
                    <input type="file" class="form-control" name="image2" formControlName="image2" accept="image/png, image/jpeg"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.image2.errors}" id="image2" (change)="onFileSelected($event, 'image2')">
                    <div *ngIf="isFormSubmitted && form.image2.errors?.required" class="invalid-feedback">
                        Image2 is required.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{buttonText}}</button>
        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>