<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close btn-danger text-white" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form method="post" [formGroup]="angForm" novalidate (submit)="submitForm()">
    <div class="modal-body">
        <!-- <p>Hello, {{ name }}!</p> -->
        <div class="row">

            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    Pincode
                </label>
                <div>
                    <input type="text" class="form-control" name="pincode" formControlName="pincode"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.pincode.errors}" id="pincode">
                    <div *ngIf="isFormSubmitted && form.pincode.errors?.required" class="invalid-feedback">
                        Pincode is required.
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3 form-group">
                <label for="name" class="col-form-label lable-right">
                    City
                </label>
                <div>
                    <select class="form-control" name="city" formControlName="city"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.city.errors}" id="pincode">
                        <option value="">--Select City--</option>
                        <option *ngFor="let city of cities" [value]="city._id">{{city.name}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" name="pincode" formControlName="pincode"
                        [ngClass]="{'is-invalid': isFormSubmitted && form.pincode.errors}" id="pincode"> -->
                    <div *ngIf="isFormSubmitted && form.city.errors?.required" class="invalid-feedback">
                        City is required.
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{buttonText}}</button>
        <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>